<html>
<head>
	<title>Twitter Clone</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#">
					<div class="navbar-brand">
						Twitter Clone
					</div>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email", name="email" class="form-control">

					</div>
					<div class="form-group">
						<input type="password" placeholder="Password", name="password" class="form-control">
					</div>
					<button type="submit" type="btn btn-success">Sign In</button>
				</form>
			</div>
		</div>
	</nav>
	{{{ body }}}
	<div class="container">
		<hr>
		<footer>
			<p>Twitter Clone 2015</p>
		</footer>	
	</div>
</body>
</html>
